/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.sass */
.form-control {
  width: 30%;
  display: inline;
}

/* line 12, ../sass/screen.sass */
#animateThird {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
}

/* line 16, ../sass/screen.sass */
#animateOne {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
}

/* line 20, ../sass/screen.sass */
#animateSecond {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.6s;
}

/* line 24, ../sass/screen.sass */
.navTop {
  margin-bottom: 0px;
  margin: 0px;
  display: block;
}

/* line 36, ../sass/screen.sass */
h1 {
  font-weight: 100;
}

/* line 39, ../sass/screen.sass */
body {
  text-align: center;
  background-color: #fffde8;
}

/* line 43, ../sass/screen.sass */
p {
  font-size: 20px;
  font-family: helvetica;
  font-weight: 100;
}

/* line 49, ../sass/screen.sass */
.todoTitle {
  font-size: 36px;
  font-weight: 100;
  line-weight: 1.1;
  margin: 5px;
}

/* line 54, ../sass/screen.sass */
.item {
  width: 300px;
  display: inline;
}

/* line 58, ../sass/screen.sass */
.animate-enter {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 0;
}

/* line 64, ../sass/screen.sass */
.animate-enter.animate-enter-active {
  opacity: 1;
}

/* line 68, ../sass/screen.sass */
.glyphicon-pushpin {
  float: left;
  position: relative;
  margin-left: 23%;
}

/* line 73, ../sass/screen.sass */
.glyphicon-cog {
  float: right;
  position: relative;
  margin-right: 20%;
}

/* line 78, ../sass/screen.sass */
.glyphicon-ok {
  float: left;
  margin-left: 23%;
}

/* line 83, ../sass/screen.sass */
.glyphicon-trash {
  float: right;
  position: relative;
  margin-right: 2%;
}

/* line 88, ../sass/screen.sass */
.finishedItem {
  width: 300px;
  display: inline;
}

/* line 92, ../sass/screen.sass */
#welcomeModal {
  width: 60%;
  height: 50%;
  overflow: auto;
}
