/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset"

.form-control
	width: 30%
	// text-align: center
	display: inline

h1
	font-weight: 100

body
	text-align: center

p
	font-size: 20px
	font-family: helvetica
	font-weight: 100
	// span
	// 	text-align: right

.item
	width: 300px
	display: inline


.glyphicon-pushpin
	float: left
	position: relative
	margin-left: 20%

.glyphicon-cog
	float: right
	position: relative
	margin-right: 20%

.glyphicon-ok
	float: left
	margin-left: 20%


.glyphicon-trash
	float: right
	position: relative
	// margin-right: 20%

.finishedItem
	width: 300px
	display: inline